Repository KB-KkaBi/KkaBi-Backend, pull requests merged in 2023-05, with the labels that each got.

#3 feat: 모든 도메인 생성
  .DS_Store
  Kkabi_Backend/src/main/java/com/project/domain/AccountInfo.java
  Kkabi_Backend/src/main/java/com/project/domain/AccountList.java
  Kkabi_Backend/src/main/java/com/project/domain/AccountLog.java
  Kkabi_Backend/src/main/java/com/project/domain/QuizInfo.java
  Kkabi_Backend/src/main/java/com/project/domain/QuizLog.java
  Kkabi_Backend/src/main/java/com/project/domain/TreasureInfo.java
  Kkabi_Backend/src/main/java/com/project/domain/TreasureLog.java
  Kkabi_Backend/src/main/java/com/project/domain/User.java
  Kkabi_Backend/src/main/resources/application.properties
Labels: enhancement

#8 Feat#2 create account/get account info
  Kkabi_Backend/pom.xml
  Kkabi_Backend/src/main/java/com/project/controller/AccountInfoController.java
  Kkabi_Backend/src/main/java/com/project/repository/AccountInfoRepository.java
  Kkabi_Backend/src/main/java/com/project/service/AccountInfoService.java
  Kkabi_Backend/src/main/java/com/project/service/AccountInfoServiceImpl.java
  Kkabi_Backend/src/main/resources/application.properties
  Kkabi_Backend/src/test/java/com/project/KkabiBackendApplicationTests.java
Labels: get, account-info

#10 Feat#4 account log/insert account log
  Kkabi_Backend/src/main/java/com/project/Service/AccountLogService.java
  Kkabi_Backend/src/main/java/com/project/Service/AccountLogServiceImpl.java
  Kkabi_Backend/src/main/java/com/project/controller/AccountLogController.java
  Kkabi_Backend/src/main/java/com/project/domain/AccountList.java
  Kkabi_Backend/src/main/java/com/project/domain/AccountLog.java
  Kkabi_Backend/src/main/java/com/project/domain/User.java
  Kkabi_Backend/src/main/java/com/project/repository/AccountLogRepository.java
  Kkabi_Backend/src/main/resources/application.properties
  Kkabi_Backend/src/test/java/com/project/KkabiBackendApplicationTests.java
  Kkabi_Backend/src/test/java/com/project/SangwooTest.java
Labels: account-log

#17 Feat#9 account log/get account log
  .DS_Store
  Kkabi_Backend/pom.xml
  Kkabi_Backend/src/main/java/com/project/controller/AccountLogController.java
  Kkabi_Backend/src/main/java/com/project/domain/AccountList.java
  Kkabi_Backend/src/main/java/com/project/domain/AccountLog.java
  Kkabi_Backend/src/main/java/com/project/dto/AccountLogRequest.java
  Kkabi_Backend/src/main/java/com/project/repository/AccountLogRepository.java
  Kkabi_Backend/src/main/java/com/project/service/AccountLogService.java
  Kkabi_Backend/src/main/java/com/project/service/AccountLogServiceImpl.java
  Kkabi_Backend/src/test/java/com/project/SangwooTest.java
Labels: enhancement, get, account-log

#18 Feat#14 account list/post new account
  Kkabi_Backend/.gitignore
  Kkabi_Backend/src/main/java/com/project/controller/AccountInfoController.java
  Kkabi_Backend/src/main/java/com/project/controller/AccountListController.java
  Kkabi_Backend/src/main/java/com/project/controller/AccountLogController.java
  Kkabi_Backend/src/main/java/com/project/domain/AccountInfo.java
  Kkabi_Backend/src/main/java/com/project/domain/AccountList.java
  Kkabi_Backend/src/main/java/com/project/dto/AccoutListRequestDTO.java
  Kkabi_Backend/src/main/java/com/project/repository/AccountListRepository.java
  Kkabi_Backend/src/main/java/com/project/service/AccountInfoService.java
  Kkabi_Backend/src/main/java/com/project/service/AccountInfoServiceImpl.java
  Kkabi_Backend/src/main/java/com/project/service/AccountListService.java
  Kkabi_Backend/src/main/java/com/project/service/AccountListServiceImpl.java
  Kkabi_Backend/src/main/resources/application.properties
  Kkabi_Backend/src/test/java/com/project/KkabiBackendApplicationTests.java
  Kkabi_Backend/src/test/java/com/project/SangwooTest.java
Labels: post, account-list

#23 feat#7-user/register
  .project
  Kkabi_Backend/bin/.gitignore
  Kkabi_Backend/bin/.mvn/wrapper/maven-wrapper.jar
  Kkabi_Backend/bin/.mvn/wrapper/maven-wrapper.properties
  Kkabi_Backend/bin/mvnw
  Kkabi_Backend/bin/mvnw.cmd
  Kkabi_Backend/bin/pom.xml
  Kkabi_Backend/bin/src/main/java/com/project/KkabiBackendApplication.class
  Kkabi_Backend/bin/src/main/java/com/project/ServletInitializer.class
  Kkabi_Backend/bin/src/main/java/com/project/controller/HomeController.class
  Kkabi_Backend/bin/src/main/webapp/WEB-INF/views/index.jsp
  Kkabi_Backend/bin/src/test/java/com/project/KkabiBackendApplicationTests.class
  Kkabi_Backend/src/main/java/com/project/controller/UserController.java
  Kkabi_Backend/src/main/java/com/project/repository/UserRepository.java
  Kkabi_Backend/src/main/java/com/project/service/UserService.java
  Kkabi_Backend/src/main/java/com/project/service/UserServiceImpl.java
  Kkabi_Backend/src/main/resources/application.properties
  Kkabi_Backend/src/test/java/com/project/TaeseonTest.java
Labels: post, user

#25 Feat#22 invest/get
  Kkabi_Backend/src/main/java/com/project/controller/QuizInfoController.java
  Kkabi_Backend/src/main/java/com/project/controller/TreasureInfoController.java
  Kkabi_Backend/src/main/java/com/project/domain/QuizInfo.java
  Kkabi_Backend/src/main/java/com/project/domain/QuizLog.java
  Kkabi_Backend/src/main/java/com/project/repository/QuizInfoRepository.java
  Kkabi_Backend/src/main/java/com/project/repository/TreasureInfoRepository.java
  Kkabi_Backend/src/main/java/com/project/service/QuizInfoService.java
  Kkabi_Backend/src/main/java/com/project/service/QuizInfoServiceImpl.java
  Kkabi_Backend/src/main/java/com/project/service/TreasureInfoService.java
  Kkabi_Backend/src/main/java/com/project/service/TreasureInfoServiceImpl.java
Labels: get

#33 Feat#28 quiz log/get quiz log
  Kkabi_Backend/mvnw
  Kkabi_Backend/src/main/java/com/project/aop/SessionCheckAdvice.java
  Kkabi_Backend/src/main/java/com/project/controller/QuizLogController.java
  Kkabi_Backend/src/main/java/com/project/domain/QuizLog.java
  Kkabi_Backend/src/main/java/com/project/repository/QuizLogRepository.java
  Kkabi_Backend/src/main/java/com/project/service/AccountListServiceImpl.java
  Kkabi_Backend/src/main/java/com/project/service/QuizLogService.java
  Kkabi_Backend/src/main/java/com/project/service/QuizLogServiceImpl.java
  Kkabi_Backend/src/test/java/com/project/KkabiBackendApplicationTests.java
Labels: get, quiz-log

#36 Feat#26 quiz/check answer
  Kkabi_Backend/src/main/java/com/project/controller/InvestController.java
  Kkabi_Backend/src/main/java/com/project/domain/InvestResult.java
  Kkabi_Backend/src/main/java/com/project/domain/QuizLog.java
  Kkabi_Backend/src/main/java/com/project/domain/TreasureLog.java
  Kkabi_Backend/src/main/java/com/project/dto/InvestRequestDTO.java
  Kkabi_Backend/src/main/java/com/project/repository/QuizInfoRepository.java
  Kkabi_Backend/src/main/java/com/project/repository/QuizLogRepository.java
  Kkabi_Backend/src/main/java/com/project/repository/TreasureLogRepository.java
  Kkabi_Backend/src/main/java/com/project/service/InvestService.java
  Kkabi_Backend/src/main/java/com/project/service/InvestServiceImpl.java
  Kkabi_Backend/src/test/java/com/project/JaehyunTest.java
Labels: post

#38 Feat#34 accountlog/insert accountlog by interest
  Kkabi_Backend/src/main/java/com/project/controller/AccountLogController.java
  Kkabi_Backend/src/main/java/com/project/domain/AccountInfo.java
  Kkabi_Backend/src/main/java/com/project/domain/AccountList.java
  Kkabi_Backend/src/main/java/com/project/service/AccountListService.java
  Kkabi_Backend/src/main/java/com/project/service/AccountListServiceImpl.java
  Kkabi_Backend/src/main/java/com/project/service/AccountLogService.java
  Kkabi_Backend/src/main/java/com/project/service/AccountLogServiceImpl.java
  Kkabi_Backend/src/test/java/com/project/KkabiBackendApplicationTests.java
Labels: enhancement, account-log, scheduled

#42 Feat#39 invest/submit
  Kkabi_Backend/src/main/java/com/project/controller/InvestController.java
  Kkabi_Backend/src/main/java/com/project/dto/InvestRequestDTO.java
  Kkabi_Backend/src/main/java/com/project/service/AccountListService.java
  Kkabi_Backend/src/main/java/com/project/service/AccountListServiceImpl.java
  Kkabi_Backend/src/main/java/com/project/service/AccountLogServiceImpl.java
  Kkabi_Backend/src/main/java/com/project/service/InvestService.java
  Kkabi_Backend/src/main/java/com/project/service/InvestServiceImpl.java
Labels: enhancement, post, invest

#44 Feat#43 accountlog/pagination
  Kkabi_Backend/src/main/java/com/project/controller/AccountLogController.java
  Kkabi_Backend/src/main/java/com/project/repository/AccountLogRepository.java
  Kkabi_Backend/src/main/java/com/project/service/AccountLogService.java
  Kkabi_Backend/src/main/java/com/project/service/AccountLogServiceImpl.java
  Kkabi_Backend/src/main/resources/application.properties
  Kkabi_Backend/src/test/java/com/project/SangwooTest.java
Labels: enhancement, get, account-log

#59 feat: AccountListRepository jpql 수정
  Kkabi_Backend/src/main/java/com/project/repository/AccountListRepository.java
Labels: fix

#61 Feat#60 quiz log/select all
  Kkabi_Backend/src/main/java/com/project/controller/QuizLogController.java
  Kkabi_Backend/src/main/java/com/project/repository/QuizLogRepository.java
  Kkabi_Backend/src/main/java/com/project/service/QuizLogService.java
  Kkabi_Backend/src/main/java/com/project/service/QuizLogServiceImpl.java
  Kkabi_Backend/src/test/java/com/project/KkabiBackendApplicationTests.java
Labels: quiz-log

#63 Feat#62 account log/select all
  Kkabi_Backend/src/main/java/com/project/controller/AccountLogController.java
  Kkabi_Backend/src/main/java/com/project/repository/AccountLogRepository.java
  Kkabi_Backend/src/main/java/com/project/service/AccountLogService.java
  Kkabi_Backend/src/main/java/com/project/service/AccountLogServiceImpl.java
Labels: account-log
